extends layout

block content

  include ngtemplates/slides
  include ngtemplates/question
  include ngtemplates/intro
  include ngtemplates/results

  .row#slides-container(data-ng-include="'slides.html'")
