script(type="text/ng-template", id="intro.html")
  .well
    h3 Instructions
    ul
      li Click on the next/back or page buttons above to start.
      li Click on the answer of your choice to lock it in.
      li You can jump to any question at any time.
      li
        | You may exit the current quiz by pressing the "view results"
        | button (unanswered questions will be marked as incorrect)
