script(type="text/ng-template", id="results.html")
  #results("data-ng-controller"="ResultsCtrl as result")
    .row
      a.btn.btn-success.pull-right(
        href="#",
        "data-ng-click"="slide.setPageTemplate(slide.pageTemplates.intro)"
      ) Reset

    .row
      h2 Results
      .alert
        span("data-ng-bind"="'you got ' + slide.sumCorrectAnswers() + ' out of ' + slide.quizItems.length + ' answers correct. '")
        span The correct answers will highlighted in green below. Your answer will be in bold.

    .row.answer-row("data-ng-repeat"="quizItemModel in slide.quizItems")
      h4("data-ng-bind"="'Anwser to question number: ' + ($index + 1)")

      .row
        button.btn-mini.btn-success.pull-left(
          href="#",
          "data-ng-click"="result.toggleHide($index)",
          "data-ng-bind"="result.isHidden($index) ? 'show' : 'hide'"
        ) 

      .row
        span('data-ng-bind'="quizItemModel.question")
        .well("data-ng-hide"="result.isHidden($index)")
          ol(type="a")
            li(
              "data-ng-repeat"="answerModel in slide.getPossibleAnswersByIds(quizItemModel.possibleAnswerIds)",
              "data-ng-class"="{ 'alert-success well-small': slide.isValidAnswer(quizItemModel, answerModel) }"
            )
              strong("data-ng-bind"="answerModel.answer", "data-ng-if"="quizItemModel.userAnswerId === answerModel.id")
              span("data-ng-bind"="answerModel.answer", "data-ng-if"="quizItemModel.userAnswerId !== answerModel.id")
